// Main pricing plan headers; spans entire plan wrapper (2 cols on mobile)
// TODO: Might want to get revamped images from design that are scaled equally, so can use consistent width...

.pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 380px;
  border-bottom: $border-gray-light;
  border-left: $border-gray-light;
  padding: 20px;
  width: auto;

  .pricing-header__img-wrapper {
    .pricing-header__img {
      height: 120px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;

      &.pricing-header__img--professional {
        background-image: url('../images/pricing-tetris-professional.png');
        width: 45px;
      }

      &.pricing-header__img--ecommerce {
        background-image: url('../images/pricing-tetris-ecommerce.png');
        width: 45px;
      }

      &.pricing-header__img--growth {
        background-image: url('../images/pricing-tetris-growth.png');
        width: 55px;
      }
    }
  }

  .pricing-header__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.78;
  }

  // Wraps the price-specific information; keep these together for alignment & spacing
  .pricing-header__price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pricing-header__price {
      display: flex;
      line-height: .7;
      margin: 16px;
      font-weight: bold;

      // Below items cover specific alignment with superscript & subscript
      .pricing-header__price-dollar {
        align-self: flex-start;
        font-size: 18px;
      }

      .pricing-header__price-number {
        font-size: 54px;
      }

      .pricing-header__price-sub {
        align-self: flex-end;
        font-size: 18px;
      }

      // Growth plan doesn't show price; text instead
      &.pricing-header__price--contact {
        font-size: 32px;
        line-height: 1.5;
      }
    }

    // Savings info under main price
    .pricing-header__price-description {
      line-height: 1.7;

      &.pricing-header__price-description--hidden {
        visibility: hidden;
      }
    }
  }
}

// TODO: rewrite media queries to flow mobile-first, not desktop first...
// Ipad small screen styles (768px)
@media only screen and (max-width: 48em) {
  .pricing-header {
    padding: 8px;

    // Reduce price size for smaller width; might want to use rems...
    .pricing-header__price-wrapper {
      .pricing-header__price {
        .pricing-header__price-number {
          font-size: 45px;
        }

        &.pricing-header__price--contact {
          font-size: 25px;
        }
      }
    }
  }
}

// Mobile plan header styles
@media only screen and (max-width: 40em) {
  .pricing-header {
    border-left: none;
  }
}
